<ul id="objects-list">
  {% for object in objects %}
  <li>
    {{object.name}}
    <ul>
      {% for property in object.properties %}

      <li id="property-{{property.id}}">
        {% if property.vetoed_by|length >0 %}
        <s>{{property.name}}</s>
        [<a
          href="/user/anonymous/unveto/object/{{object.name}}/property/{{property.name}}"
          hx-get="/user/anonymous/unveto/object/{{object.name}}/property/{{property.name}}"
          hx-target="#objects-list"
          hx-swap="outerHTML"
          >unveto</a
        >] {% else %}
        {{property.name}}
        [<a
          href="/user/anonymous/veto/object/{{object.name}}/property/{{property.name}}"
          hx-get="/user/anonymous/veto/object/{{object.name}}/property/{{property.name}}"
          hx-target="#objects-list"
          hx-swap="outerHTML"
          >veto</a
        >]
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
