{% macro feature_item(feature, target_id, url_prefix="") %}
<li id="feature-{{feature.id}}">
  {% if feature.vetoed_by|length > 0 %}
  <s>{{feature.name}}</s>
  [<a
    href="/user/anonymous/unveto{{url_prefix}}/feature/{{feature.name}}"
    hx-get="/user/anonymous/unveto{{url_prefix}}/feature/{{feature.name}}"
    hx-target="#{{target_id}}"
    hx-swap="outerHTML"
    >unveto</a
  >] {% else %}
  {{feature.name}}
  [<a
    href="/user/anonymous/veto{{url_prefix}}/feature/{{feature.name}}"
    hx-get="/user/anonymous/veto{{url_prefix}}/feature/{{feature.name}}"
    hx-target="#{{target_id}}"
    hx-swap="outerHTML"
    >veto</a
  >]
  {% endif %}
</li>
{% endmacro %}

{% macro item_feature_item(feature, item_name) %}
<li id="feature-{{feature.id}}">
  {% if feature.vetoed_by|length > 0 %}
  <s>{{feature.name}}</s>
  [<a
    class="unveto-link"
    href="/user/anonymous/unveto/item/{{item_name}}/feature/{{feature.name}}"
    hx-get="/user/anonymous/unveto/item/{{item_name}}/feature/{{feature.name}}"
hx-target="#objects-list"
    hx-swap="outerHTML"
    >unveto</a
  >] {% else %}
  {{feature.name}}
  [<a
    class="veto-link"
    href="/user/anonymous/veto/item/{{item_name}}/feature/{{feature.name}}"
    hx-get="/user/anonymous/veto/item/{{item_name}}/feature/{{feature.name}}"
hx-target="#objects-list"
    hx-swap="outerHTML"
    >veto</a
  >]
  {% endif %}
</li>
{% endmacro %}

{% macro standalone_feature_item(feature) %}
<li>
  {% if feature.vetoed_by|length > 0 %} <s>{{feature.name}}</s>
  [<a
    class="unveto-link"
    href="/user/anonymous/unveto/feature/{{feature.name}}"
    hx-get="/user/anonymous/unveto/feature/{{feature.name}}"
    hx-target="#standalone-properties"
    hx-swap="outerHTML"
    >unveto</a>] {%
  else %}
  {{feature.name}}
  [<a
    class="veto-link"
    href="/user/anonymous/veto/feature/{{feature.name}}"
    hx-get="/user/anonymous/veto/feature/{{feature.name}}"
    hx-target="#standalone-properties"
    hx-swap="outerHTML"
    >veto</a
  >]
  {% endif %}
</li>
{% endmacro %}
