{% from "macros.html" import object_property_item, standalone_property_item %}
<html>
  <head>
    <title>Properties</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <style>
      .htmx-request { opacity: 0.5; }
      .fade-out { opacity: 0; transition: opacity 0.5s; }
    </style>
  </head>
  <body>
    <h1>{{settings.app_name}}</h1>
    <h2>View</h2>
    Click on {{settings.property_name_plural_computed}} to veto
    <h3>{{settings.object_name_plural_computed.title()}}</h3>
    <ul id="objects-list">
      {% for object in objects %}
      <li>
        {{object.name}}
        <ul>
          {% for property in object.properties %}
          {{ object_property_item(property, object.name) }}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <h4>{{settings.property_name_plural_computed.title()}} without {{settings.object_name_plural_computed}}</h4>
    <ul id="standalone-properties">
      {% for property in properties %}
      {{ standalone_property_item(property) }}
      {% endfor %}
    </ul>

    <h2>Create</h2>

    <h3>{{settings.object_name_singular.title()}}</h3>
    <form
      method="POST"
      action="/create/object/"
      hx-post="/create/object/"
      hx-target="body"
      hx-swap="outerHTML"
      >
      Create
      <input
        type="text"
        required
        name="name"
        id="obj_name"
        value="{{name}}"
        placeholder="{{settings.object_name_singular.title()}}"
      />
      <button type="submit">Submit</button>
    </form>

    <h3>{{settings.property_name_singular.title()}}</h3>
    <form
      method="POST"
      action="/create/property/"
      hx-post="/create/property/"
      hx-target="body"
      hx-swap="outerHTML"
      >
      Create
      <input
        type="text"
        required
        name="name"
        id="prop_name"
        value="{{name}}"
        placeholder="{{settings.property_name_singular.title()}}"
      />
      in
      <select name="object_id">
        <option value="">{{settings.object_name_singular.title()}}</option>
        {% for object in objects %} {% if object.id == object_id %}
        <option value="{{object.id}}" selected>{{object.name}}</option>
        {% else %}
        <option value="{{object.id}}">{{object.name}}</option>
        {% endif %} {% endfor %}
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
  <script>
    document.getElementById("prop_name").focus();
  </script>
</html>
